#########################################
# Var file for ansible.
# This file is created when the playbook for Moloch node creation is ran.
# This is to act as a repository for settings made to the container(s).
#########################################
# Name of the Moloch Node
node_name: {{ node_name }}

# Install WISE?
install_wise.user_input: {{ install_wise.user_input|lower }}

# will this script be generating a self-signed cert?
self_sign.user_input: {{ self_sign.user_input|lower }}

{% if self_sign == 'n' and 'false' in node_certs_exists.stat.exists|lower %}
# The path to certs located on the host machine.
cert_path: {{ cert_path.user_input }}
{% endif %}

# will this box have it's own ES node?
local_es.user_input: {{ local_es.user_input|lower }}

{% if local_es == 'n' %}
# The URL for the remote ES node/cluster
remote_es_url: {{ remote_es_url.user_input }}
{% endif %}

{#FIXME# will this Moloch be monitoring traffic from an interface?
data_ingest: {{ data_ingest|lower }} #}

# Semicolon seperated list of interfaces to monitor traffic from.
{% if monitoring_ports is defined %}
monitoring_ports: {{ monitoring_ports }}
{% endif %}

# Password used to encrypt user profiles in ES.
es_secret: {{ es_secret.user_input }}
